@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

        body{
            width: 100%;
            height: 100%;
            font-family: "Roboto", sans-serif;
            background: #e8e8e8;
        }

        .logo { 
            width: 100%;   
            height: 220px;  
            object-fit: cover;
            margin: 10px 10px 10px 10px;
        }

        .conteudo1{
            background-color: rgb(167, 164, 164);
            width: 1200px;
            padding: 0 0 30px 0;
            margin: auto; 
        }

        .titulo1{
            background-color: gray;
            text-align: center;
            margin-bottom: 10px;
        }

        .caixa-img{
            width: 200px;
            height: 200px;
            object-fit: cover;
            display: inline-block;
            margin-left: 20px;
        }

        .caixa-text{
            width: 900px;
            float: right;
            text-align: justify;
            padding: 15px;
            font-size: 20px;
        }

        .conteudo-cursos{
            background-color: rgb(167, 164, 164);
            width: 550px;
            height: 700px;
            display: inline-block;
            margin: 20px 5px 15px 80px;
            border-radius: 10px;
            overflow-y: scroll;
        }
        .titulo-cursos{
            background-color: gray;
            text-align: center;
            font-size: 15px;
        }
        .caixa-text-cursos {
            width: 500px;
            text-align: justify;
        }
        .dicas{
            background-color: rgb(167, 164, 164);
            border-radius: 10px;
            width: 300px;
            height: 300px;
            float: left;
            margin: 2px;
            margin-left: 12px;
            padding: 5px;
            text-align: justify;
        }

        H2{
            text-align: center;
        }

        .titulo-dicas{
            background-color: aliceblue;
        }