@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

        body{
            width: 100%;
            height: 100%;
            font-family: "Roboto", sans-serif;
            background: #e8e8e8;
        }
        .logo { 
            width: 100%;   
            height: 220px;  
            object-fit: cover;
            margin: 10px 10px 10px 10px;
        }

        .conteudo1{
            background-color: rgb(167, 164, 164);
            width: 800px;
            padding: 0 0 30px 0;
            margin-left: 20px;
            
        }

        .titulo1{
            background-color: gray;
            text-align: center;
            margin-bottom: 10px;

        }
        .caixa-img{
            width: 150px;
            height: 150px;
            object-fit: cover;
            display: inline-block;
            margin-left: 20px;
        }
        .caixa-text{
            width: 550px;
            float: right;
            text-align: justify;
            padding: 10px;
        }

        .conteudo-cursos{
            background-color: rgb(167, 164, 164);
            width: 350px;
            padding: 0 0 30px 0;
            display: inline-block;
            margin: 30px;
            border-radius: 10px;
        }
        .titulo-cursos{
            background-color: gray;
            text-align: center;
            font-size: 11px;
        }
        .caixa-text-cursos {
            width: 250px;
            text-align: justify;

        }
        .dicas{
            background-color: rgb(167, 164, 164);
            display: inline-block;
            width: 500px;
            overflow-y: scroll;
            margin-left: 20px;
            text-align: justify;
        }
